Source: cutie-panel
Section: libs
Maintainer: Cutie Shell Developers <admin@cutie-shell.org>
Priority: optional
Build-Depends: pkg-kde-tools,
               cmake,
               libgles-dev,
               qt6-base-dev,               
               qt6-base-private-dev,
               pkg-config,
               qt6-declarative-dev,
               libqt6dbus6,
               liblayershellqtinterface6-dev,
               libudev-dev
Standards-Version: 4.5.1

Package: cutie-panel
Architecture: any
Multi-Arch: foreign
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}, qml6-module-cutie, qt6-layer-shell
Description: This package contains the default status bar and quick settings panel for Cutie.